.home--text--container,
.home--carousel {
  padding: 40px 80px;
}
.home--text--container {
  gap: 25px;
}
.image--container {
  image-rendering: pixelated;
  object-fit: cover;
}
.text--container {
  width: 50%;
}
p > span {
  font-size: 1.15rem;
}
.client--details--container {
  gap: 30px;
  margin: 25px 0px 50px 0px;
}
.clients1,
.clients2 {
  gap: 35px;
}
.home--carousel {
  position: relative;
}
.home--carousel > p {
  padding-top: 16px;
}
.home--carousel > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}
.middle--text {
  padding: 0px 30px 30px 30px;
  text-align: center;
}

@media (max-width: 990px) {
  .carousel {
    padding: 30px;
    height: 300px;
  }
  .carousel > h1,
  .carousel > p {
    font-size: 2rem;
    width: 100%;
  }
  .carousel > p {
    font-size: 1rem;
    width: 70%;
    margin-top: 15px;
  }
  .home--text--container {
    padding: 30px;
    width: 100%;
  }
  .text--container {
    width: 100%;
  }
  .client--details--container {
    padding: 30px;
    margin-top: 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .home--text--container {
    flex-direction: column;
  }
  .clients1,
  .clients2 {
    flex-direction: column;
  }
}
