.rights--text--container {
  padding: 40px 80px;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;

  margin-left: auto;
  margin-right: auto;
}
.rights--text--container2 {
  flex-direction: row;
}

@media (max-width: 990px) {
  .rights--text--container,
  .rights--text--container2 {
    padding: 20px;
    padding-top: 10px;
    width: 100%;
  }
  .rights--text--container {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .rights--text--container {
    flex-direction: column;
  }
}
