form {
  padding: 40px 80px;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.inputs {
  box-shadow: 2px 2px 2px solid black;
}
.contact--form--main > .submit {
  align-self: flex-start;
}
.form--input {
  padding: 5px 15px;
  width: 300px;
  font-size: 1.05rem;
  border-radius: 5px;
  border: 0.5px solid #004870;
}
form > .button {
  border-radius: 25px;
  background-color: #004870;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
}
button:hover {
  scale: 1.05;
  cursor: pointer;
  background-color: #53682f;
}
.checkbox {
  border: none;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox > span {
  font-size: 10px;
}
